*div{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
@media screen and (orientation:portrait){
    div{
        height: 100px;
        width: 100px;
        background-color: red;
    }
}
@media screen and (orientation:landscape){
    div{
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}